/* ------------Global Style */
*{
    margin: 0;
    padding :0;
    box-sizing : border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}

/* container layout */

.container {
    max-width : 1200px;
    margin : 0 auto;
    padding: 0 20px;

}

/* Header & Navigation */
header.header{
    background-color: blueviolet;
    color: white;
    padding: 1rem 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul.nav-links li a
{
    color: white;
    transition: color 0.3s ease;
}

nav ul.nav-links li a:hover {
    color: rgb(157, 219, 33);

}

/* Hero Section */
section.hero{
     color: white;
    padding: 6rem 2rem;
    text-align: center;

    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background: url("img/camera-cover.jpg"); */
    width: 100%;
  height: 100vh; /* full browser height */
  /* background-image: url("your-image.jpg"); */
  background-size: cover;       /* makes image fill the area */
  background-position: center;  /* centers image */
  background-repeat: no-repeat; /* no repeat */
  
    background-image: image-set(
    url("img/cctv-ban.avif") type("image/avif"),
    url("img/cctv-ban.webp") type("image/webp"), /*Optional WebP fallback*/
    url("img/cctv-ban.jpg") type("image/jpeg")  /* Mandatory fallback for older browsers */
  )

}
.hero-content {
    max-width: 800px;
    margin: 0 auto;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.95;
}
/* ============================================
   BUTTONS
   ============================================ */
   .btn{
        display: inline-block;
        background-color: #2e65e4;
        color: white;
        padding: 12px 30px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.2s ease;
        border: none;
        cursor: pointer;
   }
   .btn:hover{
        background-color: #0a1eb2;
        transform: translateY(-2px);
   }

   /* ============================================
   SERVICES SECTION
   ============================================ */
   section.service{
    padding: 4rem 2rem;
    background-color: rgb(253, 254, 255);
   }

   section.section-title{
     text-align: center;
     font-size:2.5rem;
     margin-bottom: 3rem;
     color: #2c3e50;
   }

/* .hero.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cover like CSS */
 /* object-position: center; } /* adjust like background-position */

